footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: #333;
  color: #fff;
  padding: 20px;
}

li {
  list-style: none;
  margin: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
}

.row {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

ul {
  display: flex;
}

h4 {
  margin-bottom: 10px;
}

.copyRight {
  margin: 0;
  font-size: large;
  color: #333;
}

.copyright-name {
  font-size: larger;
  margin: 0.5em;
}

.list-inline {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
  margin: 1rem 0.5rem; /* Adjust the margin as needed */
  border: none; /* Remove the default border */
  border-top: 1px solid rgb(83, 83, 83); /* Add a top border with your desired color */
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i {
  font-size: 24px;
}

.text-center {
  text-align: center;
}
